---
layout: default
---
   
<div class="row">
  <div class="col-lg-8 col-lg-push-4">
		<h1>Simon Giebenhain <td>
        	 <a style="padding-left:10px;" href="mailto:simon.giebenhain@uni-konstanz.de"><i class="fa fa-envelope" style="font-size: 1.em;"></i></a></li>
		     <a style="padding-left:10px;" href="https://github.com/SimonGiebenhain"><i class="fa fa-github" style="font-size: 1.em;"></i></a></li>
             <a style="padding-left:10px;" href="https://scholar.google.com/citations?user=_ju3Ex0AAAAJ&hl=en"><i class="fa fa-graduation-cap" style="font-size: 1.em;"></i></a></li>
             <a style="padding-left:10px;" href="https://twitter.com/SGiebenhain"><i class="fa fa-twitter" style="font-size: 1.em;"></i></a></li>
             </td></h1> 
		Master Student, University of Konstanz
		
		<h2> About Me </h2>
	{{ content }}
	
  </div>
    <div class="col-lg-4 col-lg-pull-8" >
		{% include bio.html %}
  </div> 
</div>
<div class="row">
<div class="col-sm-12">
	{% capture my_include %}{% include_relative publications.md %}{% endcapture %}
	{{ my_include | markdownify }}
</div>
</div>
  
  
